.grid-pane{

	-fx-alignment: center;
	
}
.letter {
	-fx-text-alignment: center;
	-fx-underline: true;

}


.stack-pane {
	-fx-border-color: blue;
	-fx-border-radius: 2px;
	-fx-border-width: 2px;
	
}

.stack-pane:hover {
	-fx-border-color: black;
	
}

.stack-pane:pressed {
	-fx-border-color: black;
	
}